#header {
  min-width: 100vw;
}

#navbar img {
  height: 55px;
  width: 55px;
}

#navbarSupportedContent {
  flex: 1;
}

#navbarSupportedContent ul {
  list-style-type: none;
  padding: 0px;
}

#navbarSupportedContent ul li {
  margin: 0px 10px;
}

#actually img, #tired img {
  max-height: 480px;
}

.quotes {
  font-size: 20px;
  margin-bottom: 11px;
}


