#header {
  min-width: 100vw;
}

/* .curve {
  position: absolute;
  width: 100%;
  left: 0;
}

.top-curve {
  top: 0;
  transform: translateY(-50%);
  z-index: 100;
} */

.wave1 {
  background-image: url('/src/assets/header-top-wave.svg');
  background-repeat: no-repeat;
  background-size: 100vw auto;
}

#navbar img {
  height: 55px;
  width: 55px;
}

#navbarSupportedContent {
  flex: 1;
}

#navbarSupportedContent ul {
  list-style-type: none;
  padding: 0px;
}

#navbarSupportedContent ul li {
  margin: 0px 5px;
  padding: 10px;
  font-weight: 600;
}

.logo-heading h4 {
  font-weight: 800;
}

.logo-heading h6 {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

#actually h1 {
  font-size: 50px;
  font-weight: 900;
}

#actually img, #tired img {
  max-height: 480px;
}

#actually img {
  max-width: 100%;
}

.wave2 {
  background-image: url('/src/assets/header-bottom-wave.svg');
  background-repeat: no-repeat;
  background-size: 100vw auto;
}

.quotes {
  font-size: 20px;
  margin-bottom: 11px;
}


