#trial, #complete {
  min-width: 100%;
}

.wave3 {
  background-image: url('/src/assets/pricing-top-wave.svg');
  background-repeat: no-repeat;
  background-size: 100vw auto;
}

#complete img {
  height: 125px;
  width: auto;
}

.complete-div {
  max-width: 400px;
}

.pricing-item {
  max-width: 380px;
  margin: 30px 15px;
  border-radius: 25px;
}

.wave4 {
  background-image: url('/src/assets/pricing-bottom-wave.svg');
  background-repeat: no-repeat;
  background-size: 100vw auto;
}

#secrets {
  min-width: 100%;
}

#secrets img {
  max-height: 600px;
  width: 100%;
}