#trial, #complete {
  min-width: 100%;
}

#complete img {
  height: 125px;
  width: auto;
}

.complete-div {
  max-width: 400px;
}

.pricing-item {
  max-width: 380px;
  margin: 30px 15px;
  border-radius: 25px;
}

#secrets {
  min-width: 100%;
}

#secrets img {
  max-height: 600px;
  width: 100%;
}