#trial,
#complete {
  min-width: 100%;
}

#trial h2 {
  font-weight: 600;
}

.wave3 {
  background-image: url("/assets/pricing-top-wave.svg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
}

#complete img {
  height: 125px;
  width: auto;
}

.complete-div {
  max-width: 400px;
}

.pricing-item {
  max-width: 380px;
  margin: 30px 15px;
  border-radius: 25px;
}

.pricing-item h1 {
  font-weight: 800;
}

.pricing-item p:nth-of-type(1) {
  font-size: 35px;
  font-weight: 400;
}

.pricing-item p {
  font-weight: 400;
}

.wave4 {
  background-image: url("/assets/pricing-bottom-wave.svg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
}

#secrets {
  min-width: 100%;
}

#secrets img {
  max-height: 600px;
  width: 100%;
}

#secrets button {
  white-space: nowrap;
}
