* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

:root {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  /* font-family: "Cedarville Cursive", cursive; */
  /* Yellow - #EDC444 */
}

p {
  font-weight: 500;
}


